#letters {
    display: inline;
    padding: 5px;
}

input{
    width: 100px;
    height: 100px;
    background-color: peachpuff;
}

.container{
    text-align: center;
    margin: auto;
    padding-top: 100px;
}